---
- name: Install/Update required packages
  yum:
    name: "{{ rsyslog_role_packages }}"
    state: 'latest'
  when:
    - not use_rsyslog_image|default(False)|bool
  notify: restart rsyslogd

- name: Generate role configuration files in rsyslog.d and subdir
  template:
    src: 'etc/rsyslog.d/rules.conf.j2'
    dest: '{{ item.path | d(rsyslog_config_dir) }}/{{ item.filename | d((item.weight if item.weight|d() else rsyslog_weight_map[item.type|d("rules")]) + "-" + (item.name|d("rules")) + "." + (item.suffix |d ("conf"))) }}'
    owner: '{{ item.owner | d("root") }}'
    group: '{{ item.group | d("root") }}'
    mode: '{{ item.mode  | d("0400") }}'
  with_flattened:
    - '{{ rsyslog_role_rules }}'
  when:
    - item.filename|d() or item.name|d()
    - item.options|d() or item.sections|d()
    - item.state is undefined or item.state != 'absent'
  notify: restart rsyslogd
