# __rsyslog_base_packages
#
# List of default rpm packages to install.
__rsyslog_base_packages: ['rsyslog']

# __rsyslog_tls_packages
#
# List of rpm packages required for TLS support.
__rsyslog_tls_packages: ['rsyslog-gnutls', 'ca-certificates']

rsyslog_use_imuxsock: false
