{% if item.udp_port is defined %}
# Read messages sent over UDP
module(load="imudp" threads="{{ logging_udp_threads }}"
       TimeRequery="{{ logging_udp_system_time_requery }}"
       BatchSize="{{ logging_udp_batch_size }}")
{% elif item.tcp_port is defined %}
{%   if __rsyslog_default_netstream_driver == "ptcp" %}
# Read messages sent over plain TCP
module(load="imptcp" threads="{{ logging_tcp_threads }}")
{%   else %}
# Read messages sent over TCP with TLS
module(load="imtcp"
       StreamDriver.Name="{{ __rsyslog_default_netstream_driver }}"
       StreamDriver.Mode="1"
       StreamDriver.AuthMode="{{ item.pki_authmode | d(__rsyslog_default_pki_authmode) }}"
{%     if item.pki_authmode | d() != 'anon' %}
       PermittedPeer=["{{ item.permitted_peers | join('","') }}"]
{%       endif %}
)
{%   endif %}
{% endif %}
