{% set rsyslog_flows = logging_flows | d([ {"name": "default_flow", "inputs": [ _input.name ], "outputs": ["default_files"]} ], true) %}
{% set outdict = {} %}
{% for flow in rsyslog_flows %}
{%   if flow.inputs | intersect([ _input.name ]) %}
{%     for oname in flow.outputs %}
{%       set _ = outdict.__setitem__(oname, outdict.get(oname,[])|union([ _input.name ])) %}
{%     endfor %}
{%   endif %}
{% endfor %}
{% for output in rsyslog_outputs %}
{%   if outdict[output.name] | d(false) %}
if
{%     for inputname in outdict[output.name] %}
{%       if inputname == _input.name %}
{%         if not loop.first %}
  or
{%         endif %}
{%         if _input.type == "basics" %}
  ($inputname == "imjournal" or $inputname == "imuxsock")
{%         elif _input.type == "remote" %}
  ($inputname == "{{ _input.name }}")
{%         else %}
  ($syslogtag == "{{ _input.name }}")
{%         endif %}
{%       endif %}
{%     endfor %}
  then {
    call {{ output.name }}
}
{%   endif %}
{% endfor %}
