ruleset(name="{{ item.name }}") {
{% if item.exclude | d([]) %}
{%   if __rsyslog_default_netstream_driver == "ptcp" %}
    {{ item.facility | d('*') }}.{{ item.severity | d('*') }};{{ item.exclude | join(';') }} action(name="{{ item.name }}"
        type="omfwd"
        Target="{{ item.target }}"
        Port="{{ item.port | d(__rsyslog_default_port) }}"
        Protocol="{{ item.protocol | d('tcp') }}"
    )
{%   else %}
    {{ item.facility | d('*') }}.{{ item.severity | d('*') }};{{ item.exclude | join(';') }} action(name="{{ item.name }}"
        type="omfwd"
        Target="{{ item.target }}"
        Port="{{ item.port | d(__rsyslog_default_tls_port) }}"
        Protocol="{{ item.protocol | d('tcp') }}"
        StreamDriver="{{ __rsyslog_default_netstream_driver }}"
        StreamDriverMode="1"
        StreamDriverAuthMode="{{ item.pki_authmode | d(__rsyslog_default_pki_authmode) }}"
        StreamDriverPermittedPeers="{{ item.permitted_server | d('*.' + logging_domain) }}"
    )
{%   endif %}
{% else %}
{%   if __rsyslog_default_netstream_driver == "ptcp" %}
    {{ item.facility | d('*') }}.{{ item.severity | d('*') }} action(name="{{ item.name }}"
        type="omfwd"
        Target="{{ item.target }}"
        Port="{{ item.port | d(__rsyslog_default_port) }}"
        Protocol="{{ item.protocol | d('tcp') }}"
    )
{%   else %}
    {{ item.facility | d('*') }}.{{ item.severity | d('*') }} action(name="{{ item.name }}"
        type="omfwd"
        Target="{{ item.target }}"
        Port="{{ item.port | d(__rsyslog_default_tls_port) }}"
        Protocol="{{ item.protocol | d('tcp') }}"
        StreamDriver="{{ __rsyslog_default_netstream_driver }}"
        StreamDriverMode="1"
        StreamDriverAuthMode="{{ item.pki_authmode | d(__rsyslog_default_pki_authmode) }}"
        StreamDriverPermittedPeers="{{ item.permitted_server | d('*.' + logging_domain) }}"
    )
{%   endif %}
{% endif %}
}
