ruleset(name="{{ es_item.name }}") {
    if (strlen($.omes) > 0) and (strlen($.omes!status) > 0) then {
        # retry case
        if ($.omes!status == 200) or ($.omes!status == 201) or (($.omes!status == 409) and ($.omes!writeoperation == "create")) then {
            stop # successful
        }
        if ($.omes!writeoperation == "unknown") or (strlen($.omes!error!type) == 0) or (strlen($.omes!error!reason) == 0) then {
            call error_es
            stop
        }
        if ($.omes!status == 400) or ($.omes!status < 200) then {
            call error_es
            stop
        }
        # else fall through to retry operation
    }
    if strlen($!es_msg_id) > 0 then {
        set $.es_msg_id = $!es_msg_id;
    } else if (strlen($.omes) > 0) and (strlen($.omes!_id) > 0) then {
        # retry
        set $.es_msg_id = $.omes!_id;
    } else {
        # NOTE: depends on rsyslog being compiled with --enable-uuid
        set $.es_msg_id = $uuid;
    }
    if (strlen($.omes) > 0) and (strlen($.omes!_index) > 0) then {
        # retry
        set $.index_name = $.omes!_index;
    } else {
        set $.index_name = exec_template("prefix_index_template");
    }
    if ($.input_type == "{{ es_item.input_type | d('ovirt') }}") and ($.index_prefix startswith "{{ es_item.index_prefix }}") then {
        action(
            type="omelasticsearch"
            name="{{ es_item.name | default('viaq-elasticsearch') }}"
            server="{{ es_item.server_host | d('logging-es') }}"
            serverport="{{ es_item.server_port | d(9200) | int }}"
            template="{{ es_item.template | d("es_template") }}"
            searchIndex="{{ es_item.searchIndex | d("index_template") }}"
            dynSearchIndex="{{ es_item.dynSearchIndex | d("on") }}"
            searchType="{{ es_item.searchType | d("com.redhat.viaq.common") }}"
            bulkmode="{{ es_item.bulkmode | d("on") }}"
            writeoperation="{{ es_item.writeoperation | d("create") }}"
            bulkid="{{ es_item.bulkid | d("id_template") }}"
            dynbulkid="{{ es_item.dynbulkid | d('on') }}"
            allowUnsignedCerts="{{ es_item.allowUnsignedCerts | d("off") }}"
{% if not es_item.retryfailures | d(true) %}
{%   if es_item.retryruleset | d() | length > 0 %}
            retryfailures="on"
            retryruleset="{{ es_item.retryruleset }}"
{%   else %}
            retryfailures="on"
            retryruleset="{{ es_item.name }}"
{%   endif %}
{% else %}
            retryfailures="off"
{% endif %}
            usehttps="{{ es_item.usehttps | default("on") }}"
{% if use_omelasticsearch_cert | default(true) %}
            tls.cacert="{{ es_item.ca_cert | default('/etc/rsyslog.d/es-ca.crt') }}"
            tls.mycert="{{ es_item.cert | default('/etc/rsyslog.d/es-cert.pem') }}"
            tls.myprivkey="{{ es_item.key | default('/etc/rsyslog.d/es-key.pem') }}"
{% endif %}
        )
    }
}
