# This is an example file for metrics configuration.
# To use this file, copy it to /etc/metrics/config.yml and edit.

# Environment name. Can be used to identify the source of the data collected at
# the destination.
# Maximum field length is 49 characters.
env_name: engine

# Address or hostname (FQDN) of the Elasticsearch server host.
fluentd_elasticsearch_host: elasticsearch-server.example.com
